body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    flex-direction: column;
}

canvas {
    border: 2px solid #fff;
}

#gameMessage, #levelUpMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

#adminMenu {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 8px;
    color: white;
}

#adminButton {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: #fff;
    border: none;
    cursor: pointer;
}

button {
    margin: 5px;
    padding: 10px;
    background-color: #fff;
    color: #000;
    border: none;
    cursor: pointer;
}
